.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 12px;
  color: rgba(124, 131, 152, 1);
  font-weight: 500;
  border-top: 1px solid rgba(244, 246, 253, 1);
}

.paginationContainerRight {
  display: flex;
  align-items: center;
  gap: 10px;
}
.paginationContainerLeft {
  display: flex;
  align-items: center;
  gap: 20px;
}
.rowsPerPage {
  color: rgba(124, 131, 152, 1);
  border: none;
  outline: none;
  padding: 7px 10px;
  background-color: rgba(60, 101, 214, 0.06);
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.rowperpagecontainer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.rowsPerPageLabel {
  font-size: 12px;
  color: rgba(124, 131, 152, 1);
  font-weight: 500;
}
.nextButton img {
  transform: rotate(-90deg);
}
.nextButton,
.prevButton {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
.prevButton img {
  transform: rotate(90deg);
}
.pageNumber {
  padding: 7px 10px;
  background-color: rgba(60, 101, 214, 0.06);
  border-radius: 4px;
}
.pointer {
  cursor: pointer;
}

.disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
