.tableTab {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filtertab {
  display: flex;
  gap: 10px;
}
.tableTab button {
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 400;
  color: white;
  background-color: rgba(50, 113, 245, 1);
  border: none;
  border-radius: 4px;
}

table {
  background-color: white;
  padding: 10px;
}
